@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500');
/* font-family: 'Orbitron', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Raleway:200,300');
/* font-family: 'Raleway', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700');
/* font-family: 'Nanum Myeongjo', serif; */

.box960{width:960px;margin:50px auto;border:1px solid #999;}
.box600{width:600px;margin:0 auto;}
.contents strong{font-weight:400;font-size: 14px;text-transform: uppercase;line-height: 1.3}
.contents p{font-size: 14px;font-weight: 300;padding-left:5px;box-sizing: border-box;text-align: justify;text-transform: capitalize;}
.contents section{position:relative;padding-top:60px;box-sizing: border-box;}
.contents h4{position: absolute;padding-right:60px;transform: rotate(-90deg);text-transform: uppercase;text-align: right;transform-origin: 0 0;font-size:24px;font-weight: 700}

.contents{font-family: 'Noto Sans KR', NanumSquare,Dotum,"돋움",Helvetica,AppleSDGothicNeo,sans-serif;text-align: left;line-height: 1.2}
.tit{height:400px;background: url('../images/contents/mainTit_handpia.jpg')no-repeat center center;color:#000;}
.tit .txtG{padding-top:230px;padding-left:40px;}
.tit .txtG p{font-size:18px;}
.tit .txtG h3{font-size:48px;text-transform: uppercase;font-weight: 900}
.intro{background: #000;color:#fff;font-weight: 100;padding:28px 0 8px !important;}
.intro ul{width:500px;margin:0 auto;overflow: hidden;}
.intro ul li{float:left;width:50%;margin-bottom: 20px;padding-left:20px;box-sizing: border-box;}
.story{overflow:hidden;padding-bottom:20px;}
.story h4{top:137px;left:40px;border-top:1px solid #47156d}
.story ul li{margin-bottom:40px;}
.fonts{background:#F1F2F2;overflow:hidden;padding-bottom: 60px;}
.fonts h4{top:139px;right:-70px;border-bottom: 1px solid #47156d}
.fonts > div > div{float:left;width:50%;}
.fonts > div > div > p{font-weight: 400;margin-bottom: 20px;}
.fonts ul li{float:left;width:48%;}
.fonts ul li p{text-align: center;}
.fonts ul li .initial{font-size:48px;}
.fonts .leftF .initial.re{font-family: 'Orbitron';font-weight: 400}
.fonts .leftF .initial.me{font-family: 'Orbitron';font-weight: 500}
.fonts .rightF .initial.re{font-weight: 300}
.fonts .rightF .initial.me{font-weight: 400}
.color{overflow: hidden;padding-bottom:60px;}
.color h4{top:141px;left:40px;border-top:1px solid #47156d}
.color ul li{float:left;width:160px;margin-right: 60px;}
.color ul li p, .color ul li strong{display:block;width:100%;text-align: right;text-transform: uppercase;line-height: 1.3}
.color ul li:last-child{margin-right: 0}
.color ul li div{width:100%;height: 50px}
.color ul li:nth-child(1) div{background: #47156d}
.color ul li:nth-child(2) div{background: #f2f2f2}
.color ul li:nth-child(3) div{background: #333333}
.design{background: url('../images/contents/design_handpia.jpg') no-repeat center center;height: 910px;}
.design h4{top:149px;right:-70px;border-bottom: 1px solid #47156d}
.design .txtG{padding-top:40px;}
.publishing{height:500px;}
.publishing h4{top:208px;left:40px;border-top:1px solid #47156d}
.btn a{display:block;width:250px;height: 50px;font-size: 20px;border:1px solid #000;padding:0;line-height: 50px;text-align: center;margin:0 auto;margin-bottom: 50px;}
.btn a:hover{background: #000;color:#fff;}
.toList{font-size:18px;color:#999;width:200px;margin:120px auto;text-align: center;height: 30px;line-height: 35px;cursor: pointer;}
.toList:hover{background: url("../images/03-portfolio_arrow.png") no-repeat center left}

.europe .box960{position: relative;}
.europe .tit{background: url('../images/contents/mainTit_europe.jpg') no-repeat center center;height: 550px;}
.europe .tit .txtG{padding-top:40px;}
.europe .intro{position:absolute;top:400px;left:50%;margin-left:-250px;background: none;color:#000;}
.europe .fonts ul li{float:left;width:33.33%;}
.europe .fonts ul li p{text-align: left;font-weight: 400;margin-bottom: 20px;}
.europe .fonts ul li:nth-child(1) .fontBg{background: url('../images/contents/fonst_europe01.png') no-repeat center center; height: 50px;width:100%;}
.europe .fonts ul li:nth-child(2) .fontBg{background: url('../images/contents/fonst_europe02.png') no-repeat center center; height: 50px;width:100%;}
.europe .fonts ul li:nth-child(3) .fontBg{background: url('../images/contents/fonst_europe03.png') no-repeat center center; height: 50px;width:100%;}
.europe h4{border-color:#db5d97;}
.europe .fonts{background: #FCFAF5}
.europe .color ul li:nth-child(1) div{background: #a8def8}
.europe .color ul li:nth-child(2) div{background: #f4e3b3}
.europe .color ul li:nth-child(3) div{background: #db5d97}
.europe .design{background: url('../images/contents/design_europe.jpg') no-repeat center center;height: 846px;}
.europe .design .txtG{padding-top:640px;}
.europe .btn a{border-color:#db5d97;color:#db5d97;}
.europe .btn a:hover{background: #db5d97;color:#fff;}

.baraphy .tit{background: url('../images/contents/mainTit_baraphy.jpg') no-repeat center center;color:#fff;}
.baraphy .tit .txtG{padding-top:0;}
.baraphy .intro{background:#85A3ED;}
.baraphy h4{border-color:#85a3ed;}
.baraphy .fonts{background: #F0F6FF}
.baraphy .fonts .leftF .initial.re{font-family: 'Raleway';font-weight: 200}
.baraphy .fonts .leftF .initial.me{font-family: 'Raleway';font-weight: 300}
.baraphy .color ul li:nth-child(1) div{background: #85a3ed}
.baraphy .color ul li:nth-child(2) div{background: #ffffff;border:1px solid #ddd;}
.baraphy .color ul li:nth-child(3) div{background: #666}
.baraphy .design{background: url('../images/contents/design_baraphy.jpg') #f0f6ff no-repeat center bottom;height: 710px;}
.baraphy .design .txtG{padding-top:530px;}
.baraphy .btn a{border-color:#85a3ed;color:#85a3ed;}
.baraphy .btn a:hover{background: #85a3ed;color:#fff;}

.blackopium .tit{background: url('../images/contents/mainTit_blackopium.jpg') no-repeat center center;color:#fff;}
.blackopium h4{border-color:#000;}
.blackopium .fonts .leftF .initial.re{font-family: 'Raleway';font-weight: 200}
.blackopium .fonts .leftF .initial.me{font-family: 'Raleway';font-weight: 300}
.blackopium .color ul li:first-child div{float:left;}
.blackopium .color ul li:first-child div:nth-child(1){width:50%;background: #6F1543}
.blackopium .color ul li:first-child div:nth-child(2){width:25%;background: #64215A}
.blackopium .color ul li:first-child div:nth-child(3){width:25%;background: #2B1422}
.blackopium .color ul li:nth-child(2) div{background: #000}
.blackopium .color ul li:nth-child(3) div{background: #fff;border:1px solid #ddd;}
.blackopium .design{background: url('../images/contents/design_blackopium.jpg') no-repeat center bottom;height: 515px;}

.impressionism .tit{background: url('../images/contents/mainTit_impression.jpg') no-repeat center center;color:#fff;}
.impressionism .tit .txtG{padding-top:230px;padding-right:40px;text-align: right}
.impressionism .tit .txtG p{text-align: right}
.impressionism .intro{background:#012B35;}
.impressionism h4{border-color:#012b35;}
.impressionism .fonts .leftF .initial{font-family: 'Nanum Myeongjo', serif; }
.impressionism .color ul li:nth-child(1) div{background: #012b35}
.impressionism .color ul li:nth-child(2) div{background: #000}
.impressionism .color ul li:nth-child(3) div{background: #fff;border:1px solid #ddd;}
.impressionism .design{background: url('../images/contents/design_impression.jpg') no-repeat center bottom;height: 772px;}
.impressionism .design .txtG{padding-top:590px;}
.impressionism .btn a{border-color:#012b35;color:#012b35;}
.impressionism .btn a:hover{background: #012b35;color:#fff;}
