@charset "utf-8";

#container{overflow:hidden;}
#main_tit{width:100%;height:300px;background:url('images/sub_share_tit.jpg') no-repeat 50% 50%;color:#fff;padding-top:80px;text-align:center;text-transform: uppercase;}
#main_tit h2{top:150px;left:50%;margin-left:-64.5px;font-size:35px;font-weight:400;}
 #main_tit section{float:left;width:480px;font-size:20px;font-weight:100;}
 #main_tit section a{display:block;width:480px;height:70px;padding-top:230px;}
#main_tit section a:hover{background:rgba(95, 0, 170, .2);}

#content .sub_tit{text-align:center;padding-top:60px;text-transform: uppercase;}
#content .sub_tit h3{font-family:'Orbitron';font-size:35px;}
#content .sub_tit .line{margin-bottom:55px}
#content .sub_tit p{font-size:14px;border-left:2px solid #5f00aa;text-align:left;margin:30px 10px;padding-left:5px;}

#content .cnt_01{background:#F2F2F2;padding:30px;}
#content .cnt_01 li{float:left;width:300px;margin-right:30px}
#content .cnt_01 li:hover{transform: scale(1.05)}
#content .cnt_01 li img{vertical-align: top;width:300px;}
#content .cnt_01 li .txt_box{display:block;padding:10px;background:#fff}
#content .cnt_01 li .txt_box *{display: block;}
#content .cnt_01 li .txt_box .date{font-size:14px;padding:5px 0 15px}
#content .cnt_01 li .txt_box em:last-child{display:inline-block;color:#fff;font-size:12px;padding:5px 10px;border-radius: 15px}
#content .cnt_01 li .txt_box em.ing{background:#BE1E2D}
#content .cnt_01 li .txt_box em.end{background:#58595B}

#content .cnt_01 .btnBox{clear:both;text-align: center;padding-top:40px;padding-bottom:20px;color:#999;}
#content .cnt_01 .btnBox *{display: inline-block;cursor: pointer;vertical-align: middle}
#content .cnt_01 .btnBox button{background: #fff;width:30px;height:30px;border:none;outline: none;font-size:20px;color:#999;}
#content .cnt_01 .btnBox button i{display:block;padding-top:-5px;}
#content .cnt_01 .btnBox .pageN{background: #fff;width:30px;height:30px;margin-right:5px;}
#content .cnt_01 .btnBox .pageN:nth-of-type(1){margin-left:5px;color:#444;}
#content .cnt_01 .btnBox .pageN em{padding-top:5px;font-weight: 400}
#content .cnt_01 .btnBox *:hover{color:#444;}
